# litex install
litedram/
liteeth/
litei2c/
liteiclink/
litejesd204b/
litepcie/
litesata/
litescope/
litesdcard/
litespi/
litex/
litex-boards/
migen/
pythondata-*/
valentyusb/
build/
# sw_implems
*.github/
*Additional_Implementations/
*KAT/
*Optimized_Implementation/
*.out*
*.nix
*astylerc
*Utilities/
# riscv-gnu-toolchain
riscv-gnu-toolchain
# sw_implems_litex
*.bin
*.elf
*.o
*.d
# python venv
.venv/